#loginform{
  text-align: center;
  width: 40%; 
}
#signinform{
  text-align: center;
  width: 40%; 
}
#loginandregbutton{
  width: 100%; 
}
input.loginandregtext {
  width: 100%; 
  margin-bottom: 10px; 
}
#loginandregtext{
  display: center;
}
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
#register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
h1.hdash.active {
  color: blue;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  line-height: 1.6;
 margin-bottom: 0px;
}

h1, h2 {
  color: #333;
}

#rooms, #userRooms {
  margin: 20px 0;
}

form {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"], input[type="number"], input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #3399ff;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #226699;
}

.toggler-wrapper.style-22 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.toggler-wrapper.style-22 .toggler-slider {
  background-color: #eb4f37;
}

.toggler-wrapper.style-22 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.cardboard-room {
  margin-left: 3%;
  margin-right: 3%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
  background-color: #f4f4f4;
}

.room-card {
  flex: 1 1 calc(33.33% - 20px); 
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}
.room-card:hover {
  background-color:#ABCDEF;
  color: white;
  text-align: center;
}

.hdash {
  margin-left: 2%;
  margin-right: 2%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divdash {
  margin-left: 3%;
  margin-right: 3%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#backtorooms{
  margin-left: 2%; 
  margin-right: 2%;
  margin-top: 2%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none; 
  text-align: center;
  background-color: #3399ff;
  color: whitesmoke;
  position: absolute;
  bottom: 20px; 
  right: 20px;
}

#abacktorooms{
  text-decoration: none;
  background-color: #3399ff;
}
 
.section-button {
  background-color: #3399ff;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0;
  color: white;
  text-align: center;
  font-weight: bold;
}

.section-content {
  display: none;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#menu {
  width: 100%;
  height: 30px;
}

.setoptionsubmit {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #3399ff;
  border: 0px;
  margin-top: 2%;
}
.setoptionsubmit:hover{
  cursor:pointer;
}
.formsettings{
  width: 95%;
  padding-right:10%;
  border: 0px;
  text-align: center;
}

.formsettings label{
  display: inline-block;
  text-align: center;
}

#inputs{
  margin-top: 2%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#welcomeadm{
  background-color: #226699;
  text-align: center;
}

.adminselect{
  width: 48%;
  height: 20px;
  margin-right: 1%;
}

